<ul>
	<li>1.1: Added support for IntelliJ 2019.3.</li>
	<li>1.0: Initial release. This is an adaptation of the previous plugin of a similar name by momomo.com: <a
			href="https://plugins.jetbrains.com/plugin/8443-a-move-tab-left-and-right-using-the-keyboard-plugin--by-momomo-com">A move tab left and right using the keyboard plugin
		- by momomo.com</a></li>
</ul> 

